/* asterik affects EVERY single element on a page */
* {
    box-sizing: border-box;
    color: #FAF9F6;
}

/* this @ symbol doesn't make sense to me BUT the font-face is specifically meant to import the font that i downloaded :] */
/* title font: proxima nova "normal" */
@font-face {
    font-family: ProximaNovaRegular;
    src: url(proxima-nova-2/ProximaNovaRegular.otf)
}

/* basic font: proxima nova "lighter" */
@font-face {
    font-family: ProximaNovaLight;
    src: url(proxima-nova-2/ProximaNovaLight.otf)
}

/* affects the body */
body {
    background: #22232F;
    overflow-x: hidden; /* the viewport isn't messed up muwhahahahahahhahahahahaHAHAHA >:D */
}

.photocard {
    background-color: #FAF9F6;
    height: 350px;
    width: 250px;
    position: absolute; /* figure out why absolute vs. relative positioning (there's a reason i just forgot) */
    top: 175px;
    left: 400px;
}

/* I AM THE CODER. OH MY GOSH. */
.photo {
    background-image: url('static/polaroid.jpg'); 
    height: 275px;
    width: 220px;
    background-size: cover;
    position: relative;
    top: 15px;
    bottom: 15px;
    left: 15px;
    right: 15px;
}

#frntheader {
    font-family: ProximaNovaRegular;
    font-weight: bold;
    font-size: 70px;
    letter-spacing: 2px;
    position: relative;
    top: 125px;
    left: 700px;
}

#frnttext {
    font-family: ProximaNovaLight;
    background-color: #22232F; /* make this transparent PLEASE */
    text-align: justify;
    height: 400px;
    width: 300px;
    position: relative;
    top: 100px;
    left: 690px;
}

/* class for buttons, styling! */
.btn {
    background-color: #333447;
    border-color: #333447;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

/* does a quirky little thing (changes the color... that's it) when you HOVER over the button (:hover) */
.btn:hover {
    background-color: #565776;
    border-color: #565776;
    color: #fff;
    text-decoration: none;
}

/* responsive css */
@media (max-width: 900px) {
    
}

/* all the card stuff because i'm omitting it to test something out */

/* 
.card {
    display: flex;
    margin: 20px;
    border: 5px solid #b2aec1;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #b2aec1;
    animation: gradient 15s ease infinite;
}


.card-image {
    display: flex;
    min-width: 100px;
    align-items: center;
    justify-content: center;
}

.card-image img {
    width: 100%;
    border-radius: 1rem;
    max-width: 300px;
}


.card-content {
    display: flex;
    flex: 2;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.card-title {
    font-size: 48px;
    text-align: center;
    margin: 0 !important;
    color: #FDF9ED;
}

.card-text > p {
    font-size: 24px;
    text-align: center;
    color: #272838;
    margin-bottom: 20px;
}

.card-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

*/

/*
- k.o kings w/ eric
- group coding project w/ jude, dan, other apcs students that want to cause chaos
- album review page :DDD (THIS ONE IS REALLY COOL!!) I AGREE
*/
