* { /* this affects every single element */
  font-family: 'DM Sans';
  color: #FAF9F6;
}
body {
  background: #272838;
}
.card {
  display: flex;
  margin: 20px;
  border: 5px solid #b2aec1;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: linear-gradient(-45deg, #bbe5ed, #bfbccb);
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.card-image {
  flex: 1;
  min-width: 200px;
}

.card-image img {
  width: 100%;
  display: block;
  border-radius: 5px 0 0 5px;
}

.card-content {
  flex: 2;
  padding: 20px;
}

.card-title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 10px;
  color: #FDFAF1;
}

.card-text {
  font-size: 24px;
  text-align: center;
  color: #272838;
  margin-bottom: 20px;
}

.btn {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
}

.btn:hover {
  background-color: #0069d9;
  border-color: #0062cc;
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 1600px) {
  .card-title {
    font-size: 24px;
  }
  .card-text {
    font-size: 16px;
  }
  .btn {
    font-size: 12px;
  }
}

@media screen and (max-width: 828px) {
  .card-title {
    font-size: 16px;
  }
  .card-text {
    font-size: 8px;
  }
  .btn {
    font-size: 4px;
  }
}
/*
- k.o kings w/ eric
- group coding project w/ jude, dan, other apcs students that want to cause chaos
- album review page :DDD (THIS ONE IS REALLY COOL!!)
*/